<% if (locals.Message != null) { %>
    <div class="mx-2 displayMessage flex justify-between align-center bg-green-700 rounded-md ">
      <h1 class="text-white text-2xl uppercase tracking-normal border-white py-1 px-2"><%= Message %></h1>
      <i class="ri-subtract-line text-2xl text-green-900 rounded-lg my-1 mr-2 bg-green-100 p-1" id="message"></i>
    </div>
<% }%>  