<section class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-white font-bold text-center text-3xl">New Author</h1>
    <form action="/authors/new" class="flex items-center justify-normal gap-4" method="POST">
        <label class="text-white">Name :</label>
        <input type="text" placeholder="Name..." name="authorname" class="ml-5 rounded-sm px-2 py-1">

        <div id="btnsForAuthor">
            <a href="/authors" class="p-2 rounded-md shadow-md text-white border-red-600 bg-gradient-to-tr from-[#0750be] via-[#075bc9] via-[#0967d5] via-[#0d72e0] to-[#127eeb] transition ease-in-out duration-300 delay-150 hover:bg-gradient-to-b from-[#0750be] via-[#075bc9] via-[#0967d5] via-[#0d72e0] to-[#127eeb]">Cancel</a>
            <button type="submit" class="p-2 ml-2 mt-4 rounded-md shadow-md text-white bg-gradient-to-tr from-[#e81733] via-[#ee0b44] via-[#f20356] via-[#f50667] to-[#f61378] transition ease-in-out duration-900 delay-150 hover:bg-gradient-to-b from-[#e81733] via-[#ee0b44] via-[#f20356] via-[#f50667] to-[#f61378] hover:shadow-none">Create</button>
        </div>
    </form>

    <!-- background-image: linear-gradient(to right top, #0750be, #075bc9, #0967d5, #0d72e0, #127eeb); -->
    <!-- <div id="btnsForAuthor">
        <a href="/authors" class="p-2 rounded-md shadow-md text-white border-red-600 bg-gradient-to-tr from-[#0750be] via-[#075bc9] via-[#0967d5] via-[#0d72e0] to-[#127eeb] transition ease-in-out duration-300 delay-150 hover:bg-gradient-to-b from-[#0750be] via-[#075bc9] via-[#0967d5] via-[#0d72e0] to-[#127eeb]">Cancel</a>
        <button type="submit" class="p-2 ml-2 mt-4 rounded-md shadow-md text-white bg-gradient-to-tr from-[#e81733] via-[#ee0b44] via-[#f20356] via-[#f50667] to-[#f61378] transition ease-in-out duration-900 delay-150 hover:bg-gradient-to-b from-[#e81733] via-[#ee0b44] via-[#f20356] via-[#f50667] to-[#f61378] hover:shadow-none">Create</button>
    </div> -->
</section>  
    

<!-- background-image: linear-gradient(to bottom, #e81733, #ee0b44, #f20356, #f50667, #f61378); -->